.list_container {
  width: 90%;
  color: #c1c2c5;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0 3rem;
  margin-bottom: 1rem;
  box-shadow: 0px 2px 10px 1px #7d7d7d33;
}

