body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E3E9F0;
/*   color: #274659; */
}

code {
  font-family: Montserrat, sans-serif;
}
